@import '../../../_colors.scss';

input {
  background: $--white;
  border: 1px solid $--gray;
  border-radius: 4px;
  padding: 12px 48px 12px 12px;

  &::placeholder {
    color: $--text-light;
  }

  &:hover:not(:disabled) {
    border: 1px solid $--accent-light;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background: $--disabled;
    color: $--text-disabled;
  }
}

.input {
  position: relative;
  width: 100%;

  input {
    width: 100%;
  }

  button {
    width: 46px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: calc(0px - 60px);
    left: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    i:before {
      font-size: 20px;
    }

    &:hover {
      i:before {
        color: $--accent-hover;
      }
    }
  }
}