@import '../../../colors';

.user {
  &--info {
    display: flex;
    gap: 30px;
    align-items: center;

    & > div:last-child {

      & > p {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
      }

      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &--link {
    display: flex;
    gap: 10px;
  }
}

.container, form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.error-message {
  color: $--text-light;
  font-weight: 400;
  font-size: 12px;
}

@media(max-width: 1200px) {
  .inputs {
    width: 70%;
  }

  .user--link {
    flex-wrap: wrap;
  }
}

@media(max-width: 500px) {
  .inputs {
    width: 100%;
  }

  .user--link {
    flex-wrap: wrap;
  }
}