$--accent: #5558fa;
$--accent-hover: #484bd5;
$--accent-active: #4042bc;
$--accent-light: #aaabfd;
$--text-accent__disabled: #d5d5fe;
$--white: #ffffff;
$--black: #333333;
$--gray: #d6d6d6;
$--gray-icon: #CCCCCC;
$--text-light: #858585;
$--disabled: #f5f5f5;
$--text-disabled: #808080;
$--blue-light: #d5e4f7;